/* 搜索框 */
.search-block {
	display: flex;
	flex-direction: row;
	padding: 0upx 20upx 20upx 20upx;
}

.search-ico-wapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #eaeaea;
	padding: 0upx 10upx;
}

.search-ico {
	width: 30upx;
	height: 30upx;
}

.search-input {
	font-size: 14px;
	width: 650upx;
	height: 60upx;
	background-color: #eaeaea;
}

/* 搜索商品列表 */
.search-goods-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0upx 20upx 20upx 20upx;
}

.single-search-goods {
	width: 230upx;
	height: 270upx;
	margin-top: 10upx;
}

.search-goods-image {
	width: 230upx;
	height: 270upx;
	border-radius: 3%;
}